// ---------------------------
// Helper classes
// ---------------------------

// Position
// ---------------------------
.rel {
  position: relative;
}

.abs {
  position: absolute;
}

.fixed {
  position: fixed;
}

//height
//---------------------------

.height-50 {
	height: 50rem;
}

// Float
// ---------------------------

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.pull-center {
  float: center;
}

// Display Values
// -------------------------

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

// Aligning Elements
// -------------------------

.center {
  margin: 0 auto;
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.mobile-text-center {
  
  @media (max-width: 992px) {
    text-align: center;
  }
}

// Padding
//--------------------------

.padding-bot-5 {
	padding-bottom: 5rem;
}

.padding-lef-20 {
	padding-left: 20rem;
}

.padding-lef-10 {
	padding-left: 10rem;
}

// Colors
// -------------------------

.white {
  &.white {
    color: #fff;
  }
}

.black {
  &.black {
    color: #000;
  }
}

.prime {
  &.prime {
    color: $prime;
  }
}

.second {
  &.second {
    color: $second;
  }
}

.grey{
  &.grey{
    color: grey;
  }
}

//-------------------------------------------
.colorPadding {
	color: white; 
	padding: 0rem 2rem 0rem 2rem; 
	font-size: 2rem;
}

.cf {
	height: 5rem; 
	width: 17.4rem;
}