html {
  font-size: 10px; // static size
}

body {
  color: #241e18;
  margin: 0;
}

// Headings
// ---------------------------
.h1, .h2, .h3, .h4, .h6 {
  font-family: "Merriweather";
}

.h1 {
  font-size:4.8rem;
}

.h2 {
  font-size: 3.6rem;
}

.h3 {
  font-size: 2.4rem;
}

.h4 {
  font-size: 2.2rem;
}

.h5 {
  font-family: "Open Sans italic";
  font-size: 1.4rem;
}

.h6 {
  font-size: 1.25rem;
}

.h8 {
 font-size: 1.1rem; 
}

.h9 {
  font-size: 1rem; 
}

.carouselTextOne {
  position: relative; 
  top: -20rem;
  left: 35rem; 
  font-size: 11rem; 
  font-family: Courier, monospace; 
  color: #afafaf;  
}

.carouselTextTwo {
  position: relative;  
  top: -15rem; 
  left: 35rem; 
  font-size: 8rem; 
  font-family: Courier, monospace; 
  color: #afafaf;
}

.registerText {
  background: white; 
  padding: 2rem; 
  margin: 0 auto; 
  position: relative; 
}